*.pyc
.hg
.pip/cache
.pip/*.log
venv
.envrc
.direnv
.config/nvim/.netrwhist
.config/nvim/.luarc.json
.config/nvim/lazy-lock.json
.config/fish/fish_variables*
.config/fish/*.tmp.*
# orbstack binary symlinks
bin/docker
bin/docker-buildx
bin/docker-compose
bin/docker-credential-osxkeychain
bin/orb
bin/orbctl
bin/just 
bin/zoxide
bin/kubectl
bin/latexmk
bin/xelatex

