[user]
	name = Denis Cornehl
	email = denis.cornehl@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	quotepath = false
	trustExitCode = true
[difftool "Kaleidoscope"]
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = vimdiff
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true
[alias]
	d = difftool
[mergetool]
	keepBackup = true
